# Air quality and Weather, madrid data analysis

In [14]:
import pandas as pd

## Global variables

In [15]:
ARGS = {
    "wt-madrid": "dataset/extract/weather_madrid_LEMD_1997_2015.csv",
    "aq-madrid": "dataset/extract/air-quality-madrid/madrid.h5"
}

## Datasets

### Weather Madrid 1997 - 2015

Weather data Barajas Airport, Madrid, between 1997 and 2015. Gathered web https://www.wunderground.com/ The Weather Company, LLC

Fields:
- Max TemperatureC
- Mean TemperatureC
- Min TemperatureC
- Dew PointC
- MeanDew PointC
- Min DewpointC
- Max Humidity
- Mean Humidity
- Min Humidity
- Max Sea Level PressurehPa
- Mean Sea Level PressurehPa
- Min Sea Level PressurehPa
- Max VisibilityKm
- Mean VisibilityKm
- Min VisibilitykM
- Max Wind SpeedKm/h
- Mean Wind SpeedKm/h
- Max Gust SpeedKm/h
- Precipitationmm
- CloudCover
- Events
- WindDirDegrees

In [21]:
df_wt = pd.read_csv(ARGS["wt-madrid"])

In [22]:
df_wt

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,1997-1-1,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,10.0,9.0,4.0,13,6,NaN,0.00,6.0,NaN,229
1,1997-1-2,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,10.0,9.0,4.0,26,8,47.0,0.00,5.0,Rain,143
2,1997-1-3,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,10.0,7.0,27,19,NaN,0.00,6.0,Rain-Snow,256
3,1997-1-4,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,10.0,27,19,40.0,0.00,2.0,NaN,284
4,1997-1-5,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,10.0,5.0,1.0,14,6,NaN,0.00,7.0,Snow,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,2015-12-27,14.0,7.0,-1.0,6.0,2.0,-2.0,100.0,77.0,30.0,...,31.0,14.0,5.0,14,6,NaN,0.00,8.0,Fog,38
6808,2015-12-28,15.0,8.0,2.0,8.0,4.0,1.0,100.0,78.0,34.0,...,31.0,14.0,8.0,27,8,45.0,0.51,7.0,Rain,243
6809,2015-12-29,11.0,8.0,5.0,9.0,7.0,5.0,100.0,89.0,66.0,...,31.0,9.0,0.0,14,8,32.0,2.03,5.0,Fog-Rain,190
6810,2015-12-30,9.0,8.0,6.0,7.0,6.0,5.0,93.0,87.0,70.0,...,19.0,10.0,6.0,14,5,34.0,0.00,6.0,NaN,256
6811,2015-12-31,12.0,10.0,7.0,10.0,8.0,7.0,100.0,90.0,70.0,...,31.0,8.0,2.0,14,6,NaN,0.25,6.0,Rain,313

---

### Air Quality in Madrid (2001-2018)
Includes daily and hourly historical air quality data of the levels registered from 2001 to 2018 and the list of stations being used for pollution and other particles analysis in the city.

Fields:
- SO_2: sulphur dioxide level measured in μg/m³. High levels of sulphur dioxide can produce irritation in the skin and membranes, and worsen asthma or heart diseases in sensitive groups.
- CO: carbon monoxide level measured in mg/m³. Carbon monoxide poisoning involves headaches, dizziness and confusion in short exposures and can result in loss of consciousness, arrhythmias, seizures or even death in the long term.
- NO: nitric oxide level measured in μg/m³. This is a highly corrosive gas generated among others by motor vehicles and fuel burning processes.
- NO_2: nitrogen dioxide level measured in μg/m³. Long-term exposure is a cause of chronic lung diseases, and are harmful for the vegetation.
- PM25: particles smaller than 2.5 μm level measured in μg/m³. The size of these particles allow them to penetrate into the gas exchange regions of the lungs (alveolus) and even enter the arteries. Long-term exposure is proven to be related to low birth weight and high blood pressure in newborn babies.
- PM10: particles smaller than 10 μm. Even though the cannot penetrate the alveolus, they can still penetrate through the lungs and affect other organs. Long term exposure can result in lung cancer and cardiovascular complications.
- NOx: nitrous oxides level measured in μg/m³. Affect the human respiratory system worsening asthma or other diseases, and are responsible of the yellowish-brown color of photochemical smog.
- O_3: ozone level measured in μg/m³. High levels can produce asthma, bronchytis or other chronic pulmonary diseases in sensitive groups or outdoor workers.
- TOL: toluene (methylbenzene) level measured in μg/m³. Long-term exposure to this substance (present in tobacco smkoke as well) can result in kidney complications or permanent brain damage.
- BEN: benzene level measured in μg/m³. Benzene is a eye and skin irritant, and long exposures may result in several types of cancer, leukaemia and anaemias. Benzene is considered a group 1 carcinogenic to humans by the IARC.
- EBE: ethylbenzene level measured in μg/m³. Long term exposure can cause hearing or kidney problems and the IARC has concluded that long-term exposure can produce cancer.
- MXY: m-xylene level measured in μg/m³. Xylenes can affect not only air but also water and soil, and a long exposure to high levels of xylenes can result in diseases affecting the liver, kidney and nervous system (especially memory and affected stimulus reaction).
- PXY: p-xylene level measured in μg/m³. See MXY for xylene exposure effects on health.
- OXY: o-xylene level measured in μg/m³. See MXY for xylene exposure effects on health.
- TCH: total hydrocarbons level measured in mg/m³. This group of substances can be responsible of different blood, immune system, liver, spleen, kidneys or lung diseases.
- CH4: methane level measured in mg/m³. This gas is an asphyxiant, which displaces the oxygen animals need to breath. Displaced oxygen can result in dizzinnes, weakness, nausea and loss of coordination.
- NMHC: non-methane hydrocarbons (volatile organic compounds) level measured in mg/m³. Long exposure to some of these substances can result in damage to the liver, kidney, and central nervous system. Some of them are suspected to cause cancer in humans.

#### Keys

['/28079001',
 '/28079003',
 '/28079004',
 '/28079006',
 '/28079007',
 '/28079008',
 '/28079009',
 '/28079011',
 '/28079012',
 '/28079014',
 '/28079015',
 '/28079016',
 '/28079017',
 '/28079018',
 '/28079019',
 '/28079021',
 '/28079022',
 '/28079023',
 '/28079024',
 '/28079025',
 '/28079026',
 '/28079027',
 '/28079035',
 '/28079036',
 '/28079038',
 '/28079039',
 '/28079040',
 '/28079047',
 '/28079048',
 '/28079049',
 '/28079050',
 '/28079054',
 '/28079055',
 '/28079056',
 '/28079057',
 '/28079058',
 '/28079059',
 '/28079060',
 '/28079099',
 '/master']

In [17]:
df_aq = pd.HDFStore(ARGS['aq-madrid'])

#### Stations

In [19]:
df_aq['master']

,id,name,address,lon,lat,elevation
0,28079004,Pza. de España,Plaza de España,-3.712247,40.423853,635
1,28079008,Escuelas Aguirre,Entre C/ Alcalá y C/ O’ Donell,-3.682319,40.421564,670
2,28079011,Avda. Ramón y Cajal,Avda. Ramón y Cajal esq. C/ Príncipe de Vergara,-3.677356,40.451475,708
3,28079016,Arturo Soria,C/ Arturo Soria esq. C/ Vizconde de los Asilos,-3.639233,40.440047,693
4,28079017,Villaverde,C/. Juan Peñalver,-3.713322,40.347139,604
5,28079018,Farolillo,Calle Farolillo - C/Ervigio,-3.731853,40.394781,630
6,28079024,Casa de Campo,Casa de Campo (Terminal del Teleférico),-3.747347,40.419356,642
7,28079027,Barajas Pueblo,"C/. Júpiter, 21 (Barajas)",-3.580031,40.476928,621
8,28079035,Pza. del Carmen,Plaza del Carmen esq. Tres Cruces.,-3.703172,40.419208,659
9,28079036,Moratalaz,Avd. Moratalaz esq. Camino de los Vinateros,-3.645306,40.407947,685
10,28079038,Cuatro Caminos,Avda. Pablo Iglesias esq. C/ Marqués de Lema,-3.707128,40.445544,698
11,28079039,Barrio del Pilar,Avd. Betanzos esq. C/ Monforte de Lemos,-3.711542,40.478228,674
12,28079040,Vallecas,C/ Arroyo del Olivar esq. C/ Río Grande.,-3.651522,40.388153,677
13,28079047,Mendez Alvaro,C/ Juan de Mariana / Pza. Amanecer Mendez Alvaro,-3.686825,40.398114,599
14,28079048,Castellana,C/ Jose Gutierrez Abascal,-3.690367,40.439897,676
15,28079049,Parque del Retiro,Paseo Venezuela- Casa de Vacas,-3.682583,40.414444,662
16,28079050,Plaza Castilla,Plaza Castilla (Canal),-3.688769,40.465572,728
17,28079054,Ensanche de Vallecas,Avda La Gavia / Avda. Las Suertes,-3.612117,40.372933,627
18,28079055,Urb. Embajada,C/ Riaño (Barajas),-3.580747,40.462531,618
19,28079056,Pza. Fernández Ladreda,Pza. Fernández Ladreda - Avda. Oporto,-3.718728,40.384964,604
20,28079057,Sanchinarro,C/ Princesa de Eboli esq C/ Maria Tudor,-3.660503,40.494208,700
21,28079058,El Pardo,Avda. La Guardia,-3.774611,40.518058,615
22,28079059,Juan Carlos I,Parque Juan Carlos I (frente oficinas mantenim...,-3.609072,40.465250,660
23,28079060,Tres Olivos,Plaza Tres Olivos,-3.689761,40.500589,715

#### Values of each station

In [20]:
df_aq['28079001']

,CO,NO_2,NOx,O_3,PM10,PM25,SO_2
date,,,,,,,
2001-08-01 01:00:00,0.37,58.400002,87.150002,34.529999,105.000000,NaN,6.34
2001-08-01 02:00:00,0.42,65.760002,93.830002,27.930000,69.750000,NaN,7.15
2001-08-01 03:00:00,0.32,61.090000,88.089996,32.070000,56.220001,NaN,6.26
2001-08-01 04:00:00,0.23,47.020000,62.930000,42.209999,50.689999,NaN,5.19
2001-08-01 05:00:00,0.19,47.169998,62.630001,48.459999,49.490002,NaN,5.03
...,...,...,...,...,...,...,...
2009-05-04 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-05-04 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-05-04 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-05-04 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-05-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN